<script>
  import Banner from "../banners/Banner-02.svelte";

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .content-img__content {
    max-width: 540px;
    @extend %mr-bot-69;

    @media (max-width: 768px) {
      text-align: center;
      float: left;
      max-width: 100%;
    }

    .heading-02,
    .txt-secondary,
    .heading-03 {
      @extend %pd-bot-30;
    }

    .content-img__item {
      display: flex;
      @extend %mr-bot-30;

      @media (max-width: 768px) {
        display: block;
      }

      .img {
        width: 62px;
        height: 62px;
      }

      .content-img__item-text {
        @extend %pd-lt-30;

        @media (max-width: 768px) {
          padding-left: 0px;
        }

        .content-img__item-title {
          color: $brand-02;

          @media (max-width: 768px) {
            padding-top: 12px;
            padding-bottom: 8px;
          }
        }

        .content-img__item-description {
          color: $text-02;
        }
      }
    }
  }

  .float-right {
    float: right;
  }

  .txt--uppercase {
    text-transform: uppercase;
    @extend %pd-bot-15;

    @media (max-width: 768px) {
      .txt--uppercase {
        padding-bottom: 10px;
      }
    }
  }

  .content-img {
    @extend %pd-top-bot-120;

    @media (max-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .content-img__title {
    text-align: center;
    @extend %mr-bot-48;
  }

  .txt--uppercase {
    text-transform: uppercase;
    @extend %pd-bot-15;

    @media (max-width: 768px) {
      .txt--uppercase {
        padding-bottom: 10px;
      }
    }
  }
</style>

<Banner
  subtitle="Criação, venda e gerenciamento de cursos online"
  text="Crie cursos sem se preocupar com espaços físicos e grandes recursos. Seu
  curso poderá ser assistido por qualquer um com acesso à internet. De
  preparatórios para o ENEM a cursos profissionalizantes. Você ensina, nós
  cuidamos do resto."
  img="left"
  imgLink="venda-cursos-img01.png"
  button="white"
  buttonText="SAIBA MAIS"
  buttonLink="educacao-cursos-livres"
  cardsTotal="2"
  card1Title="EAD"
  card1Text="Soluções completas para educação a distância em todos os níveis."
  card1ImgLink="venda-cursos-icon01.png"
  card2Title="Aplicativo"
  card2Text="Sua escola com um aplicativo próprio para alunos e responsáveis."
  card2ImgLink="venda-cursos-icon02.png" />
