<script>
  import Banner from "../banners/Banner-02.svelte";

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .content-img {
    @extend %pd-top-120;
    @extend %pd-top-12;

    @media (max-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .content-img__title {
    text-align: center;
  }

  .txt--uppercase {
    text-transform: uppercase;
    @extend %pd-bot-15;

    @media (max-width: 768px) {
      .txt--uppercase {
        padding-bottom: 10px;
      }
    }
  }
</style>

<section id="tipo-negocio" class="content-img">
  <div class="container-fluid">
    <div class="content-img__title">
      <p class="txt txt-primary txt--uppercase">Qual o tipo do seu negócio?</p>
      <h2 class="heading-02">Somos feitos para o seu segmento educacional</h2>
    </div>
  </div>
</section>

<Banner
  title="Infantil, Fundamental e Médio"
  subtitle="Educação Básica"
  text="A phidelis atende a escolas de todos os portes e em todos os seus
  departamentos. Uma plataforma versátil e adaptativa que hoje é utilizada em
  escolas renomadas em todo país."
  img="left"
  imgLink="tipo-negocio-img01.png"
  button="white"
  buttonText="SAIBA MAIS"
  buttonLink="educacao-basica"
  cardsTotal="4"
  card1Title="Secretaria Online"
  card1Text="Administração completa da secretaria acadêmica."
  card1ImgLink="tipo-negocio-icon01.png"
  card2Title="Pesquisas institucionais"
  card2Text="Esqueça o papel e a caneta para aplicar pesquisas institucionais."
  card2ImgLink="tipo-negocio-icon02.png"
  card3Title="Gestão Financeira"
  card3Text="Geração de títulos totalmente integrada ao módulo acadêmico."
  card3ImgLink="tipo-negocio-icon03.png"
  card4Title="Aplicativo"
  card4Text="Sua escola com um aplicativo próprio para alunos e responsáveis."
  card4ImgLink="tipo-negocio-icon04.png" />
<Banner
  title="Graduação e além"
  subtitle="Educação Superior"
  text="Toda nossa experiência com a educação superior, a favor do crescimento
  da sua instituição: saiba como nossas soluções foram pensadas para que você
  supere os desafios do seu negócio."
  img="right"
  imgLink="tipo-negocio-img02.png"
  button="white"
  buttonText="SAIBA MAIS"
  buttonLink="educacao-superior"
  cardsTotal="4"
  card1Title="EAD"
  card1Text="Soluções completas para a educação à distância em todos os níveis"
  card1ImgLink="tipo-negocio-icon05.png"
  card2Title="Gestão Financeira"
  card2Text="Geração de títulos totalmente integrada ao módulo acadêmico."
  card2ImgLink="tipo-negocio-icon06.png"
  card3Title="Pesquisas institucionais"
  card3Text="Esqueça o papel e a caneta para aplicar pesquisas institucionais."
  card3ImgLink="tipo-negocio-icon07.png"
  card4Title="Aplicativo"
  card4Text="Sua escola com um aplicativo próprio para alunos e responsáveis."
  card4ImgLink="tipo-negocio-icon08.png" />
