<script>
  import Form from "../forms/FormEmail.svelte";
  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../style/core/variables.scss";
  @import "../../style/core/recipes.scss";

  .banner-01__content {
    padding: 70px 30px;
    padding-top: 130px;
    background: $surface-color-02;
    border-radius: 2px;

    h1 {
      position: relative;
      margin-bottom: 36px;
      padding-right: 134px;

      span {
        position: relative;
      }
    }

    p {
      margin-bottom: 32px;
      padding-right: 105px;
    }

    @media (max-width: 1200px) {
      position: absolute;
      padding: 50px 15px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      h1,
      p {
        padding-right: 0px;
      }
    }

    @media (max-width: 768px) {
      position: relative;
    }
  }
</style>

<div class="banner-01__content">
  <h1 class="heading-01">Soluções Tecnológicas para Educação</h1>
  <p class="txt txt-primary">
    Aumente a eficiência e a organização da sua instituição de ensino com nossa
    plataforma de Gestão institucional.
  </p>
  <Form />
</div>
