<script>
  import { onMount } from "svelte";

  export let dataFile = "";
  export let columnName;

  let links = [];

  if (dataFile != "") {
    onMount(async function() {
      const response = await fetch(dataFile);
      const json = await response.json();
      links = json;
    });
  }

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";

  .footer__item {
    padding-bottom: 18px;
    list-style: none;

    @media (max-width: 768px) {
      padding-bottom: 9px;
    }
  }

  .link {
    @extend %link;
    text-decoration: none;
    color: $text-inverse;
    font-size: 16px;
    transition: 0.2s;

    &:hover {
      color: $text-02;
    }
  }

  .title {
    color: $text-inverse;
  }

  .footer__lista {
    @extend %footer-lista-base;
  }
</style>

<ul class="footer__lista">
  <li class="footer__item txt-secondary txt--uppercase title">{columnName}</li>

  {#if dataFile != ''}
    {#each links as link}
      <li class="footer__item">
        <a class="link" href={link.url}>{link.name}</a>
      </li>
    {/each}
  {:else}
    <li class="footer__item" id="contato">
      <a class="link" href="contato">Fale conosco</a>
    </li>
    <li class="footer__item txt-secondary txt--inverse">+55 (27) 33297036</li>
    <li class="footer__item txt-secondary txt--inverse">
      contato@phidelis.com.br
    </li>
    <li class="footer__item txt-secondary txt--inverse">
      Centro Empresarial Shopping Praia da Costa Offices, Av. Canal da Costa, n
      245 - Sala 701, Praia da Costa. Vila Velha - ES. CEP: 29101440
    </li>
  {/if}
</ul>
