<script>
  import { onMount } from "svelte";
  import { Link } from "svero";

  import { category } from "../../stores/category/store";
  import { author } from "../../stores/author/store";
  import { info } from "../../stores/info/store";

  let itens = [];
  let posts = [];
  let imagesJsonLink =
    "http://localhost/svelte-wordpress-plugin/wp-json/wp/v2/media/";

  onMount(async () => {
    const res = await fetch(process.env.SITE + "/wp-json/wp/v2/posts");
    itens = await res.json();
    posts = itens.slice(0, 3);
    document.title = $info.name;
  });
</script>

<style type="text/scss">
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";
</style>

<div class="container">
  <div class="row">
    {#each posts as post}
      <div class="col-md">
        <Link href="/{post.id}" className="btn row row-cen">
          <h1>{post.title.rendered}</h1>
        </Link>
        <p class="post">
          {@html post.excerpt.rendered}
        </p>
      </div>
    {:else}
      <div class="row row-cen">
        <p>loading...</p>
      </div>
    {/each}
  </div>
</div>
