<script>
  import ButtonLateral from "../buttons/ButtonPrimaryLateral-01.svelte";
  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../style/core/variables.scss";
  @import "../../style/core/recipes.scss";

  .form-email {
    display: block;
    width: 100%;
    height: auto;
    position: relative;

    input {
      position: absolute;

      .input-for-txt {
        @extend %pd-rt-120;
        @extend %txt;
        font-size: 16px;
      }
    }
  }

  .form-control {
    @extend %pd-top-bot-12;
    @extend %pd-rt-lt-24;
    height: 54px;
    width: 80%;
    border: none;

    &:hover {
      border: none;
      outline: none;
      box-shadow: none;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
</style>

<form action="" class="form-email">
  <input
    type="text"
    class="input-for-txt form-control"
    placeholder="Informe seu e-mail e saiba mais" />
  <ButtonLateral />
</form>
