@font-face {
  font-family: "Merriweather";
  src: url("#{$themeSrc}/webfonts/Merriweather-Bold.eot");
  src: url("#{$themeSrc}/webfonts/Merriweather-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("#{$themeSrc}/webfonts/Merriweather-Bold.woff2") format("woff2"),
    url("#{$themeSrc}/webfonts/Merriweather-Bold.woff") format("woff"),
    url("#{$themeSrc}/webfonts/Merriweather-Bold.ttf") format("truetype"),
    url("#{$themeSrc}/webfonts/Merriweather-Bold.svg#Merriweather-Bold")
      format("svg");
  font-weight: $bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("#{$themeSrc}/webfonts/Merriweather-Regular.eot");
  src: url("#{$themeSrc}/webfonts/Merriweather-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("#{$themeSrc}/webfonts/Merriweather-Regular.woff2") format("woff2"),
    url("#{$themeSrc}./webfonts/Merriweather-Regular.woff") format("woff"),
    url("#{$themeSrc}./webfonts/Merriweather-Regular.ttf") format("truetype"),
    url("#{$themeSrc}/webfonts/Merriweather-Regular.svg#Merriweather-Regular")
      format("svg");
  font-weight: $regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$themeSrc}/webfonts/OpenSans-Bold.eot");
  src: url("#{$themeSrc}/webfonts/OpenSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("#{$themeSrc}/webfonts/OpenSans-Bold.woff2") format("woff2"),
    url("#{$themeSrc}./webfonts/OpenSans-Bold.woff") format("woff"),
    url("#{$themeSrc}/webfonts/OpenSans-Bold.ttf") format("truetype"),
    url("#{$themeSrc}/webfonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: $bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$themeSrc}/webfonts/OpenSans-SemiBold.eot");
  src: url("#{$themeSrc}/webfonts/OpenSans-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("#{$themeSrc}./webfonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("#{$themeSrc}/webfonts/OpenSans-SemiBold.woff") format("woff"),
    url("#{$themeSrc}/webfonts/OpenSans-SemiBold.ttf") format("truetype"),
    url("#{$themeSrc}/webfonts/OpenSans-SemiBold.svg#OpenSans-SemiBold")
      format("svg");
  font-weight: $semibold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$themeSrc}/webfonts/OpenSans-Regular.eot");
  src: url("#{$themeSrc}/webfonts/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("#{$themeSrc}/webfonts/OpenSans-Regular.woff2") format("woff2"),
    url("#{$themeSrc}/webfonts/OpenSans-Regular.woff") format("woff"),
    url("#{$themeSrc}/webfonts/OpenSans-Regular.ttf") format("truetype"),
    url("#{$themeSrc}./webfonts/OpenSans-Regular.svg#OpenSans-Regular")
      format("svg");
  font-weight: $regular;
  font-style: normal;
  font-display: swap;
}
