%heading {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: $bold;
  color: $text-01;
}

%txt {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: $regular;
  line-height: 150%;
  color: $text-04;
}

%link {
  font-family: "Open Sans";
  font-style: normal;
  line-height: 150%;
  color: $brand-02;
  font-weight: $semibold;
  transition: 0.2s;

  @media (max-width: 768px) {
    font-size: 14px;
  }

  &:hover {
    text-decoration: none;
    color: $brand-01;
    transition: 0.2s;
  }

  .icon .fa-chevron-right {
    font-size: 9px;
    position: relative;
    bottom: 1px;
  }
}

%btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: $semibold;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  box-shadow: none;
  border: 0;
  @extend %pd-top-bot-15;
  @extend %pd-rt-lt-24;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

%menu-base {
  height: auto;
  display: flex;
  justify-content: space-between;
}

%footer-base {
  @extend %pd-top-75;
  @extend %pd-bot-36;
  background: $text-01;

  @media (max-width: 768px) {
    padding-top: 50px;
  }
}

%footer__title-div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 33px;

  @media (max-width: 768px) {
    display: none;
  }

  h2 {
    color: $text-inverse;
  }
}

%footer-lista-base {
  @media (max-width: 768px) {
    padding-bottom: 18px;
  }
}

@mixin btn($color, $model, $side: "false") {
  @extend %btn;

  @if $model == 1 {
    background-color: $color;
  } @else if $model == 2 {
    background-color: darken($color, 10%);
  } @else if $model == 3 and $color != $surface-color-01 {
    background-color: $color;
    border: 1px solid darken($color, 30%);
  } @else if $model == 3 and $color == $surface-color-01 {
    background-color: $color;
    border: 1px solid $brand-02;
  } @else if $model == 4 {
    background-color: $text-02;
  }

  @if $side == "left" {
    border-radius: 0 4px 4px 0;
  } @else if $side == "right" {
    border-radius: 4px 0 0 4px;
  } @else {
    border-radius: 4px;
  }
}
