//----------- URL Variables ---------------//
//
$themeSrc: "dist/";
//
//-------- Text variables ----------------//
//
//------ Text size ----------//
//
$heading-size-01: 48px;
$heading-size-02: 34px;
$heading-size-03: 24px;
$heading-size-04: 20px;
//
$body-text-size-01: 20px;
$body-text-size-02: 16px;
$body-text-size-03: 12px;
//
$text-link-01: 20px;
$text-link-02: 16px;
//
$text-quotation: 16px;
//
//------ Font weights -------//
//
$regular: 400;
$semibold: 600;
$bold: 700;
$black: 900;
//
//-------- Font families ---------//
//
$merriweather: "Merriweather";
$openSans: "Open Sans";
//-------- Colors  ---------//
//
//-- Text colors --//
//
$text-01: #263238;
$text-02: #828282;
$text-03: #3b464c;
$text-04: #7d8488;
$text-inverse: #ffffff;
//
//-- Brand colors --//
//
$brand-01: #333d72;
$brand-02: #3d88ff;
//
//-- Surface colors --//
//
$surface-color-01: #ffffff;
$surface-color-02: #f4f5f9;
$surface-color-03: #f2c94c;
//
//-- Modifiers colors --//
//
$hover-color: #d9dbe3;
//
//-------- Components size  ---------//
//
$card-height: 168px;
$card-width: 256px;
//
//-------- Paddings and Margins ------//
//
@for $i from -10 to 60 {
  %pd-#{3*$i} {
    padding: ($i * 63px);
  }

  %pd-top-#{(3*$i)} {
    padding-top: ($i * 3px);
  }
  %pd-bot-#{(3*$i)} {
    padding-bottom: ($i * 3px);
  }
  %pd-top-bot-#{(3*$i)} {
    padding-top: ($i * 3px);
    padding-bottom: ($i * 3px);
  }

  %pd-lt-#{(3*$i)} {
    padding-left: ($i * 3px);
  }
  %pd-rt-#{(3*$i)} {
    padding-right: ($i * 3px);
  }
  %pd-rt-lt-#{(3*$i)} {
    padding-left: ($i * 3px);
    padding-right: ($i * 3px);
  }

  %mr-#{3*$i} {
    margin: ($i * 3px);
  }

  %mr-top-#{(3*$i)} {
    margin-top: ($i * 3px);
  }
  %mr-bot-#{(3*$i)} {
    margin-bottom: ($i * 3px);
  }
  %mr-top-bot-#{(3*$i)} {
    margin-top: ($i * 3px);
    margin-bottom: ($i * 3px);
  }

  %mr-lt-#{(3*$i)} {
    margin-left: ($i * 3px);
  }
  %mr-rt-#{(3*$i)} {
    margin-right: ($i * 3px);
  }
  %mr-rt-lt-#{(3*$i)} {
    margin-left: ($i * 3px);
    margin-right: ($i * 3px);
  }
}
