<script>
  import { Router, Route } from "svero";
  import Index from "./containers/Index.svelte";
  import QuemSomos from "./containers/QuemSomos.svelte";
  import Integracoes from "./containers/Integracoes.svelte";
  import Carreiras from "./containers/Carreiras.svelte";
  import Educacao_Basica from "./containers/Educacao-Basica.svelte";
  import Educacao_Superior from "./containers/Educacao-Superior.svelte";
  import Educacao_Ead from "./containers/Educacao-Ead.svelte";
  import Educacao_CursosLivres from "./containers/Educacao-CursosLivres.svelte";
  import Blog from "./containers/Blog.svelte";
  import Page from "./containers/Page.svelte";
  import Header from "./containers/Header.svelte";
  import Footer from "./containers/Footer.svelte";
  import { info } from "./stores/info/store";
</script>

<style type="text/scss" global>
  @import "../public/dist/css/reset.css";
  @import "./style/core/variables.scss";
  @import "./style/core/recipes.scss";
  @import "./style/core/fonts.scss";
  @import "./style/global.scss";
  @import "../public/dist/css/alldep.min.css";
</style>

<div>
  <Header />
  <main>
    <Router>
      <Route path="*" component={Index} />
      <Route
        exact
        path="/svelte-wordpress-plugin/quem-somos"
        component={QuemSomos} />
      <Route
        exact
        path="/svelte-wordpress-plugin/integracoes"
        component={Integracoes} />
      <Route
        exact
        path="/svelte-wordpress-plugin/carreiras"
        component={Carreiras} />
      <Route
        exact
        path="/svelte-wordpress-plugin/educacao-basica"
        component={Educacao_Basica} />
      <Route
        exact
        path="/svelte-wordpress-plugin/educacao-superior"
        component={Educacao_Superior} />
      <Route
        exact
        path="/svelte-wordpress-plugin/educacao-ead"
        component={Educacao_Ead} />
      <Route
        exact
        path="/svelte-wordpress-plugin/educacao-cursos-livres"
        component={Educacao_CursosLivres} />
    </Router>

  </main>

  <Footer />
</div>
