<script>
  import Card from "../cards/Exp.svelte";

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";

  #experiencia-comprovada {
    @extend %pd-top-bot-120;

    @media (max-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
</style>

<section id="experiencia-comprovada">
  <div class="container">
    <h2 class="heading-02">
      Experiência e inovação
      <br />
      comprovadas na prática
    </h2>
    <div class="row">
      <div class="col-md-3 col-6">
        <Card value="+ 150 mil" impacted="Alunos" />
      </div>
      <div class="col-md-3 col-6">
        <Card value="+ 800" impacted="Colaboradores" />
      </div>
      <div class="col-md-3 col-6">
        <Card value="+ 90" impacted="Instituições" />
      </div>
      <div class="col-md-3 col-6">
        <Card value="+ 15" impacted="Estados" />

      </div>
    </div>
  </div>
</section>
