<script>
  import Card from "../cards/Ead.svelte";
  import Button from "../buttons/ButtonTertiaryLateral-01.svelte";

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../style/core/variables.scss";
  @import "../../style/core/recipes.scss";

  #ead {
    background: $surface-color-02 url("#{$themeSrc}/img/default/ead-bg.png") top
      left no-repeat;
    background-size: auto 100%;
    @extend %pd-top-bot-120;
    text-align: center;

    @media (max-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &.ead__bg02 {
      background: $surface-color-02 url("#{$themeSrc}/img/default/ead-bg02.png")
        top left no-repeat;

      @media (max-width: 991px) {
        background-size: cover;
      }
    }

    @media (max-width: 768px) {
      background: $text-01;
    }

    .txt--uppercase {
      color: $text-inverse;
      padding-bottom: 30px;
    }

    h2 {
      color: $text-inverse;
      @extend %pd-bot-39;
    }

    .txt-secondary {
      color: $text-inverse;
      @extend %pd-bot-39;
      max-width: 723px;
      margin: 0 auto;

      @media (max-width: 768px) {
        font-weight: 600;
      }
    }

    .ead__btn {
      display: flex;
      justify-content: center;
    }
  }

  .btn-secondary {
    margin: 0 auto;
    border: 1px solid $text-inverse;
    color: $text-inverse;
    &:hover {
      background: $text-inverse;
      color: $text-01;
    }
  }

  .btn-secondary {
    @include btn($surface-color-01, 1);
    border: 1px solid white;
    background: inherit;
    text-decoration: none;
  }
</style>

<section id="ead">
  <div class="container">
    <p class="txt txt-primary txt--uppercase">
      Ensino básico, superior, profissional ou cursos livres
    </p>
    <h2 class="heading-02">Educação a Distância</h2>
    <p class="txt txt-secondary">
      Desenvolvemos soluções completas para educação a distância. Elaboração e
      adaptação de conteúdo para EAD, aplicativos, e-learning, educação
      semipresencial, vídeos, e-books e outros objetos educacionais.
    </p>
    <div class="row">
      <Card />
      <Card img="ead-img02.png" text="Gamificação" />
      <Card img="ead-img03.png" text="Estúdio de vídeo" />
      <Card img="ead-img04.png" text="Captação de alunos" />
    </div>
    <div class="ead__btn">
      <a class="link btn btn-secondary" href="educacao-ead">Saiba mais</a>
    </div>
  </div>
</section>
