<script>
  import CardSeg from "../cards/Card-02.svelte";
  import ImgSeg from "../imgs/ImgSeg.svelte";
  export let imgLink = "";
  export let img = "";

  export let subtitle = "";
  export let title = "";
  export let text = "";
  export let form = "";
  export let button = "";
  export let buttonText = "";
  export let buttonLink = "";

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../style/core/variables.scss";
  @import "../../style/core/recipes.scss";

  .banner-03 {
    @extend %pd-top-bot-66;
  }
  .banner-blue {
    background: $surface-color-02
      url("#{$themeSrc}/img/default/header-blue.png") bottom right no-repeat;
    background-size: cover;

    @media (max-width: 768px) {
      background: $brand-01;
    }
  }
</style>

<section class="banner-03 banner-blue">
  <div class="container">
    <div class="row">
      {#if img === 'left'}
        <ImgSeg img={imgLink} />
      {/if}
      <CardSeg
        {subtitle}
        {title}
        {text}
        {form}
        {button}
        {buttonText}
        {buttonLink} />
      {#if img === 'right'}
        <ImgSeg img={imgLink} />
      {/if}
    </div>
  </div>
</section>
