<script>
  import BannerImg from "../imgs/ImgBanner-01.svelte";
  import BannerContent from "../contents/ContentBanner-01.svelte";

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";

  .banner-01 {
    background: $surface-color-02
      url("#{$themeSrc}/img/default/header-banner-01.png") bottom right
      no-repeat;
    background-size: cover;
    height: 660px;

    .container,
    .row,
    .col-md-6 {
      height: 100%;
    }

    @media (max-width: 1200px) {
      height: 510px;
    }

    @media (max-width: 991px) {
      .container {
        max-width: 100%;
      }
    }

    @media (max-width: 768px) {
      height: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      background: $surface-color-02;

      .col-md-6:nth-child(2) {
        display: none;
      }
    }
  }
</style>

<section id="header-banner" class="banner-01">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <BannerContent />
      </div>
      <div class="col-md-6">
        <BannerImg />
      </div>
    </div>
  </div>
</section>
