<script>
  import CardSeg from "../cards/Card-01.svelte";
  import ImgSeg from "../imgs/ImgSeg.svelte";
  export let imgLink = "";
  export let img = "";

  export let subtitle = "";
  export let title = "";
  export let text = "";
  export let form = "";
  export let button = "";
  export let buttonText = "";
  export let buttonLink = "";

  export let cardsTotal = "";
  export let card1Title = "";
  export let card1Text = "";
  export let card1ImgLink = "";

  export let card2Title = "";
  export let card2Text = "";
  export let card2ImgLink = "";

  export let card3Title = "";
  export let card3Text = "";
  export let card3ImgLink = "";

  export let card4Title = "";
  export let card4Text = "";
  export let card4ImgLink = "";

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .banner-02 {
    @extend %pd-top-bot-66;
  }
</style>

<section class="banner-02">
  <div class="container">
    <div class="row">
      {#if img === 'left'}
        <ImgSeg img={imgLink} />
      {/if}
      <CardSeg
        {subtitle}
        {title}
        {text}
        {form}
        {button}
        {buttonText}
        {buttonLink}
        {cardsTotal}
        {card1Title}
        {card2Title}
        {card3Title}
        {card4Title}
        {card1Text}
        {card2Text}
        {card3Text}
        {card4Text}
        {card1ImgLink}
        {card2ImgLink}
        {card3ImgLink}
        {card4ImgLink} />
      {#if img === 'right'}
        <ImgSeg img={imgLink} />
      {/if}
    </div>
  </div>
</section>
