<script>
  import Card from "../cards/Card-03.svelte";

  export let title = "";
  export let text = "";

  export let card1Title = "";
  export let card1Text = "";
  export let card1Img = "";

  export let card2Title = "";
  export let card2Text = "";
  export let card2Img = "";

  export let card3Title = "";
  export let card3Text = "";
  export let card3Img = "";

  export let card4Title = "";
  export let card4Text = "";
  export let card4Img = "";

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss" global>
  @import "../../style/core/variables.scss";
  @import "../../style/core/recipes.scss";

  #gestao-educacional {
    @extend %pd-top-bot-120;

    @media (max-width: 768px) {
      padding-bottom: 60px;
      padding-top: 60px;
    }

    .col-12 {
      margin-top: 82px;
    }

    .gestao-educacional__title {
      max-width: 540px;

      h1 {
        margin-bottom: 32px;
      }
    }

    .gestao-educacional__bg {
      display: block;
      width: 100%;
      position: relative;

      @media (max-width: 768px) {
        display: none;
      }
      img {
        object-fit: contain;
        object-position: center center;
        position: absolute;
        right: 120px;
        bottom: 0;
        z-index: -1;
      }
    }
  }

  .banner-qualidade-txt {
    @extend %mr-top-30;
  }
</style>

<section id="gestao-educacional">
  <div class="container">
    <div class="gestao-educacional__title">
      <h2 class="heading-02">{title}</h2>
      <p class="txt txt-secondary banner-qualidade-txt">{text}</p>
    </div>
    <div class="row">
      <Card title={card1Title} text={card1Text} img={card1Img} />
      <Card title={card2Title} text={card2Text} img={card2Img} />
      <Card title={card3Title} text={card3Text} img={card3Img} />
      <Card title={card4Title} text={card4Text} img={card4Img} />

    </div>
  </div>
  <div class="gestao-educacional__bg">
    <img
      class="img"
      src="{themeSrc}dist/img/default/grade-de-circulos.png"
      alt="" />
  </div>
</section>
