<script>
  import Banner from "../components/banners/Banner-02.svelte";
</script>

<style type="text/scss" global>
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";
</style>

<Banner
  subtitle="Trabalhe conosco"
  text="O caminho que a educação e a tecnologia podem percorrer juntos é
  infinito. Precisamos de pessoas talentosas, apaixonadas pelo que fazem e que
  querem ir cada vez mais longe."
  img="right"
  imgLink="header-integracoes.png" />
