<script>
  import Banner from "../components/banners/Banner-03.svelte";
  import Banner02 from "../components/banners/BannerQualidade.svelte";

  import BannerExp from "../components/banners/BannerExp.svelte";
</script>

<style type="text/scss" global>
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";
</style>

<Banner
  title="Gestão de cursos"
  subtitle="Cursos Livres"
  text="Mantenha sua equipe focada em seus alunos e deixe o restante com a
  Phidelis."
  form="true"
  img="right"
  imgLink="header-educacao-basica.png" />

<Banner02
  title="Plataforma completa"
  text="Vender cursos online de sucesso é o objetivo de todo empreendedor
  digital. Motivos para investir em ensino à distância não faltam: o EAD, além
  de ser uma modalidade de ensino que mais cresce no Brasil, passou por uma
  verdadeira revolução nos últimos anos. Graças aos avanços tecnológicos, é
  possível compartilhar conhecimento e transmiti-lo para qualquer dispositivo
  conectado à Internet."
  card1Title="Na medida"
  card1Text="Tudo o que você precisa para oferecer acesso aos conteúdos de forma
  EAD"
  card1Img="nossos-diferenciais-icon01.png"
  card2Title="Integração"
  card2Text="Quem já utiliza o Phidelis como sua solução de Gestão Educacional
  tem integração total das informações"
  card2Img="maos-dadas.png"
  card3Title="Fácil de usar"
  card3Text="Solução EAD moderna, fácil e intuitiva. Uma plataforma completa,
  sem precisar complicar a vida de ninguém"
  card3Img="facil-de-usar.png"
  card4Title="Indicadores"
  card4Text="Monitore as informações dos alunos: chats, tarefas, acessos. Sua
  instituição no controle de tudo"
  card4Img="evoluir.png" />

<BannerExp />
