<script>
  import Banner from "../components/banners/Banner-03.svelte";
  import Banner02 from "../components/banners/BannerQualidade.svelte";

  import BannerExp from "../components/banners/BannerExp.svelte";
</script>

<style type="text/scss" global>
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";
</style>

<Banner
  title="Uma nova forma de ensino"
  subtitle="Educação a Distância"
  text="O novo perfil de aluno, conectado e usuário assíduo de tecnologia,
  impacta profundamente no ambiente escolar e nas instituições de ensino
  superior."
  form="true"
  img="right"
  imgLink="header-educacao-superior.png" />

<Banner02
  title="Tecnologia a serviço da educação"
  text="Investimos em pesquisa e desenvolvimento da educação a distância – e
  fazemos isso sem parar! Estamos em constante busca por novas metodologias e
  tecnologias. Temos um time multidisciplinar de profissionais com alta
  performance e em constante desenvolvimento."
  card1Title="Na medida"
  card1Text="Tudo o que você precisa para oferecer acesso aos conteúdos de forma
  EAD."
  card1Img="gestao-educacional-completa.png"
  card2Title="Integração"
  card2Text="Quem já utiliza o Phidelis como sua solução de Gestão Educacional
  tem integração total das informações"
  card2Img="maos-dadas.png"
  card3Title="Fácil de usar"
  card3Text="Solução EAD moderna, fácil e intuitiva. Uma plataforma completa,
  sem precisar complicar a vida de ninguém"
  card3Img="facil-de-usar.png"
  card4Title="Indicadores"
  card4Text="Monitore as informações dos alunos: chats, tarefas, acessos. Sua
  instituição no controle de tudo"
  card4Img="evoluir.png" />

<BannerExp />
