<script>
  import Banner from "../components/banners/Banner-03.svelte";
  import Banner02 from "../components/banners/BannerQualidade.svelte";

  import BannerExp from "../components/banners/BannerExp.svelte";
</script>

<style type="text/scss" global>
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";
</style>

<Banner
  title="Inteligência educacional"
  subtitle="Educação Básica"
  text="Tenha garantia da sua base instalada de alunos com plataformas
  amigáveis, integridade das informações e facilidade de integração com outros
  sistemas."
  form="true"
  img="right"
  imgLink="header-educacao-basica.png" />

<Banner02
  title="Gestão educacional de qualidade em todo o Brasil"
  text="Os processos de aquisição, implantação, treinamento e suporte do
  Academic One acontecem online, com alta tecnologia e segurança, cobrindo
  totalmente o território nacional."
  card1Title="Fortaleça"
  card1Text="Fortaleça a imagem e os resultados de negócios da instituição"
  card1Img="forte.png"
  card2Title="Evolua"
  card2Text="Evolua as rotinas de trabalho da equipe e dos professores"
  card2Img="evoluir.png"
  card3Title="Transforme"
  card3Text="Transforme a gestão diminuindo evasão e inadimplência"
  card3Img="lampada.png"
  card4Title="Facilite"
  card4Text="Facilite o dia a dia de alunos e pais/responsáveis"
  card4Img="acordo.png" />

<BannerExp />
