<script>
  import Banner from "../components/banners/Banner-03.svelte";
  import Banner02 from "../components/banners/BannerQualidade.svelte";

  import BannerExp from "../components/banners/BannerExp.svelte";
</script>

<style type="text/scss" global>
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";
</style>

<Banner
  title="TUDO O QUE VOCÊ PRECISA"
  subtitle="Educação Superior"
  text="Gestão acadêmica, administrativa e financeira que vão fazer a diferença
  para gestores, equipe, professores, alunos e responsáveis."
  form="true"
  img="right"
  imgLink="header-educacao-superior.png" />

<Banner02
  title="Gestão educacional de qualidade em todo o Brasil"
  text="Criado por especialistas em educação e tecnologia, o Phidelis realmente
  entende o que é importante para sua instituição. Cada um dos seu módulos
  atende em profundidade a necessidades específicas das rotinas operacionais e
  acadêmicas. Tudo isso para instituições de ensino superior, educação
  continuada e EAD."
  card1Title="Gestão educacional completa"
  card1Text="Tudo em um único sistema"
  card1Img="gestao-educacional-completa.png"
  card2Title="Módulos integrados"
  card2Text="Flexibilidade e aderência em uma solução que se adapta ao que você
  mais precisa"
  card2Img="nossos-diferenciais-icon04.png"
  card3Title="Atualização em tempo real"
  card3Text="Inteligência de informação em tempo real. Dados estratégicos nas
  suas mãos"
  card3Img="atualizacao-em-tempo-real.png"
  card4Title="Inovação constante"
  card4Text="Sua gestão sempre atualizada com as melhores práticas, recursos
  tecnológicos"
  card4Img="evoluir.png" />

<BannerExp />
