<script>
  import Column from "../components/contents/FooterColumn.svelte";
  import Button from "../components/buttons/ButtonPrimary-01.svelte";
  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";
  .footer {
    @extend %footer-base;

    .txt-secondary {
      color: $text-inverse;

      @media (max-width: 768px) {
        &.title {
          color: $surface-color-03;
        }
      }
    }

    .txt-primary {
      text-transform: uppercase;
      color: $text-inverse;
      @extend %pd-bot-21;

      @media (max-width: 768px) {
        color: $surface-color-03;
      }
    }

    .footer__newsletter {
      .txt-secondary {
        @extend %pd-bot-21;
      }

      .footer__newsletter-form {
        position: relative;

        input.input-for-txt {
          width: 100%;
          height: 56px;
          background: $text-03;
          border-radius: 150px;
          color: $text-inverse;
          @extend %pd-rt-57;
        }

        .btn-circle {
          width: 44px;
          height: 44px;
          right: 6px;
          top: 6px;
          position: absolute;
          border: 1px solid $surface-color-01;

          i {
            color: $text-01;
            font-size: 16px;
          }

          &:hover {
            transition: 0.2s;
            background: $text-01;
            border: 1px solid $text-01;

            i {
              color: $surface-color-01;
            }
          }
        }
      }
    }

    .footer__end {
      @extend %pd-top-129;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 768px) {
        padding-top: 32px;
        display: block;
      }

      .footer__end-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
          display: block;
          text-align: center;
        }

        .footer__end-img {
          display: block;
          margin-right: 67px;

          @media (max-width: 768px) {
            margin: 0 auto;
            margin-bottom: 12px;

            img {
              max-height: 35px;
              width: auto;
            }
          }
        }

        .txt-secondary {
          font-size: 14px;
        }
      }

      .footer__end-social {
        display: flex;

        @media (max-width: 768px) {
          justify-content: center;
          margin-top: 18px;
        }

        .btn-circle {
          background: $text-03;
          border: 1px solid $text-03;
          margin-left: 16px;
          width: 50px;
          height: 50px;

          i {
            color: $text-inverse;
            font-size: 16px;
          }

          &:hover {
            transition: 0.2s;
            background: $text-inverse;
            border: 1px solid $text-inverse;

            i {
              color: $text-03;
            }
          }
        }
      }
    }
  }

  .footer__title-div {
    @extend %footer__title-div;
  }

  .footer__lista {
    @extend %footer-lista-base;
  }

  .link {
    color: $text-inverse;
    text-decoration: none;

    &:hover {
      color: $text-02;
    }
  }
  .btn-circle {
    background: $surface-color-01;
    border: 1px solid $text-01;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    @extend %pd-0;
    transition: 0.2s;
    margin-left: 10px;

    i {
      font-size: 20px;
      font-weight: $bold;
    }

    &:hover {
      transition: 0.2s;
      border: 1px solid $brand-01;
      background: $brand-01;

      i {
        color: $text-inverse;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .icon {
    @extend %mr-lt-9;
    @extend %mr-top-15;
  }
  .form-control {
    @extend %pd-top-bot-9;
    @extend %pd-rt-lt-24;
    height: 48px;
    border: none;

    &:hover {
      border: none;
      outline: none;
      box-shadow: none;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
</style>

<footer class="footer">
  <div class="container">
    <div class="footer__title-div">
      <h2 class="heading-02">
        Ficou interessado?
        <br />
        Faça um orçamento conosco
      </h2>
      <Button />
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-4 col-12">
        <Column dataFile="{themeSrc}data/products.json" columnName="Produtos" />
      </div>
      <div class="col-lg-2 col-md-4 col-12">
        <Column
          dataFile="{themeSrc}data/institucional.json"
          columnName="Institucional" />
      </div>
      <div class="col-lg-3 col-md-4 col-12">
        <Column columnName="Contato" />
      </div>
      <div class="col-lg-5 col-12">
        <div class="footer__newsletter">
          <p class="txt txt-primary">Quer saber mais?</p>
          <p class="txt txt-secondary">Receba novidades e atualizações</p>
          <form action="">
            <div class="footer__newsletter-form">
              <input
                type="text"
                class="input-for-txt form-control"
                placeholder="Digite o seu e-mail" />
              <label for="submit-email" class="btn btn-circle">
                <i class="icon fas fa-paper-plane" />
              </label>
              <input
                id="submit-email"
                type="submit"
                value="Go"
                class="input-for-submit d-none" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer__end">
      <div class="footer__end-logo">
        <div class="footer__end-img">
          <img
            class="img"
            src="{themeSrc}dist/img/default/logo-inversa.png"
            alt="" />
        </div>
        <p class="txt txt-secondary">Copyright © 2019 Phidelis</p>
      </div>
      <div class="footer__end-social">
        <a class="link btn btn-circle fb" href="">
          <i class="icon fab fa-facebook-f" />
        </a>
        <a class="link btn btn-circle yt" href="">
          <i class="icon fab fa-youtube" />
        </a>
      </div>
    </div>
  </div>
</footer>
