<script>
  import Menu from "../components/menus/Menu.svelte";
</script>

<style type="text/scss">
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";

  .header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    transition: all 0.5s, z-index 0ms;
    display: none;
    z-index: 99;
    opacity: 0.5;
  }

  .header {
    background: $surface-color-01;
    min-height: 153px;
    @extend %pd-top-bot-18;

    @media (max-width: 991px) {
      top: 0;
      height: 60px;
      min-height: 0px;
      padding: 0;
      width: 100%;
    }

    @media (max-width: 991px) {
      .container {
        max-width: 100%;
        padding: 0;
        margin: 0;
      }

      .row {
        margin: 0;
      }

      .col-12 {
        padding: 0;
      }
    }
  }
</style>

<div id="header-overlay" class="header-overlay" />

<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <Menu />
      </div>
    </div>
  </div>
</header>
