<script>
  import Banner from "../components/banners/Banner-01.svelte";
  import BannerExp from "../components/banners/BannerExp.svelte";
  import Slider from "../components/slides/SliderFerramentas.svelte";
  import Negocios from "../components/sections/Negocios.svelte";
  import BannerEad from "../components/banners/BannerEad.svelte";
  import CursosOnline from "../components/sections/CursosOnline.svelte";
  import Posts from "../components/contents/IndexPosts.svelte";
</script>

<style type="text/scss" global>
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";
</style>

<Banner />
<BannerExp />
<Slider />
<Negocios />
<BannerEad />
<CursosOnline />
<Posts />
