<script>
  import Banner from "../components/banners/Banner-02.svelte";
</script>

<style type="text/scss" global>
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";
</style>

<Banner
  subtitle="Integrações"
  text="Com produtos que se integram facilmente com vários softwares, podemos
  oferecer uma solução completa para sua empresa."
  form="true"
  img="right"
  imgLink="header-integracoes.png" />
