<script>
  import Banner from "../components/banners/Banner-02.svelte";
</script>

<style type="text/scss" global>
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";
</style>

<Banner
  subtitle="Soluções tecnológicas para o seu negócio educacional"
  form="true"
  img="right"
  imgLink="header-quem-somos.png" />
<Banner
  subtitle="Ajude-nos a construir essa evolução"
  text="Fazer parte do Phidelis é imaginar um futuro de possibilidades. Não
  somos apenas uma empresa de softwares, somos uma empresa de soluções
  tecnologicas focadas em educação. <p>Ajude-nos a mudar a educação para melhor!
  Venha trabalhar conosco.</p>"
  button="white"
  buttonText="VER VAGAS"
  buttonLink="carreiras"
  img="left"
  imgLink="evolucao-img01.png" />
