<script>
  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../style/core/variables.scss";
  @import "../../style/core/recipes.scss";

  .banner-01__img-div {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      bottom: 0;
      z-index: 99;

      @media (max-width: 1440px) {
        width: 100%;
      }
    }
  }
</style>

<div class="banner-01__img-div">
  <img class="img" src="{themeSrc}/dist/img/default/header-people.png" alt="" />
</div>
