<script>
  export let img = "tipo-negocio-img01.png";

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .float-right {
    float: right;
  }

  .content-img__img {
    @media (max-width: 768px) {
      display: none;
    }

    .img {
      max-width: 600px;

      @media (max-width: 1540px) {
        width: 100%;
        height: auto;
      }
    }
  }
</style>

<div class="col-md-6">
  <div class="content-img__img float-right">
    <img class="img" src="{themeSrc}dist/img/default/{img}" alt="" />
  </div>
</div>
