<script>
  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../style/core/variables.scss";
  @import "../../style/core/recipes.scss";

  .menu__img {
    img {
      width: 180px;
      height: auto;

      @media (max-width: 991px) {
        max-height: 35px;
        width: auto;
      }
    }
  }
</style>

<div class="menu__img">
  <img
    class="img"
    src="{themeSrc}dist/img/default/logo-original.png"
    alt="Logo Phidelis" />
</div>
