.html {
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
}

.heading-01 {
  @extend %heading;
  font-size: 48px;
  line-height: 60px;

  @media (max-width: 768px) {
    font-size: 26px;
    line-height: 36px;
  }
}

.heading-02 {
  @extend %heading;
  font-size: 34px;
  line-height: 43px;

  @media (max-width: 768px) {
    font-size: 22px;
    line-height: 30px;
  }
}

.heading-03 {
  @extend %heading;
  font-size: 24px;
  line-height: 30px;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 20px;
  }
}

.heading-04 {
  @extend %heading;
  font-size: 20px;
  line-height: 150%;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.txt-primary {
  @extend %txt;
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.txt-secondary {
  @extend %txt;
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.txt-tertiary {
  @extend %txt;
  font-size: 12px;
}

.txt--uppercase {
  text-transform: uppercase;
  @extend %pd-bot-15;

  @media (max-width: 768px) {
    .txt--uppercase {
      padding-bottom: 10px;
    }
  }
}

.txt--inverse {
  color: $text-inverse;
}

.link-01 {
  @extend %link;
  font-size: 20px;
}

.link-02 {
  @extend %link;
  font-size: 16px;
}
