<script>
  export let title = "";
  export let text = "";
  export let img = "";
  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss" global>
  @import "../../style/core/variables.scss";
  @import "../../style/core/recipes.scss";

  .heading-03 {
    @extend %mr-top-bot-15;
  }
  .card-03-txt {
    max-width: 215px;
  }
  .card-03-div {
    background-color: white;
  }

  img {
  }
</style>

<div class="col-md-3 col-sm-6 col-12">
  <div>
    <img src="{themeSrc}dist/img/default/{img}" alt="" />
    <div class="card-03-div">
      <h3 class="heading-03">{title}</h3>
      <p class="txt txt-secondary card-03-txt">{text}</p>
    </div>
  </div>
</div>
