<script>
  import Form from "../forms/FormEmail.svelte";
  import ButtonWhite from "../buttons/ButtonTertiaryLateral-01.svelte";
  import MiniCard from "./Mini-01.svelte";

  export let title = "";
  export let subtitle = "";
  export let text = "";
  export let float = "";
  export let form;
  export let button;
  export let buttonText;
  export let buttonLink;

  export let cardsTotal = "";
  export let card1Title = "";
  export let card1Text = "";
  export let card1ImgLink = "";

  export let card2Title = "";
  export let card2Text = "";
  export let card2ImgLink = "";

  export let card3Title = "";
  export let card3Text = "";
  export let card3ImgLink = "";

  export let card4Title = "";
  export let card4Text = "";
  export let card4ImgLink = "";

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .content-img__content {
    max-width: 540px;
    @extend %mr-bot-69;

    @media (max-width: 768px) {
      text-align: center;
      float: left;
      max-width: 100%;
    }

    .heading-02,
    .txt-secondary,
    .heading-03 {
      @extend %pd-bot-30;
    }

    .content-img__item {
      display: flex;
      @extend %mr-bot-30;

      @media (max-width: 768px) {
        display: block;
      }

      .img {
        width: 62px;
        height: 62px;
      }

      .content-img__item-text {
        @extend %pd-lt-30;

        @media (max-width: 768px) {
          padding-left: 0px;
        }

        .content-img__item-title {
          color: $brand-02;

          @media (max-width: 768px) {
            padding-top: 12px;
            padding-bottom: 8px;
          }
        }

        .content-img__item-description {
          color: $text-02;
        }
      }
    }
  }

  .float-right {
    float: right;
  }

  .txt--uppercase {
    text-transform: uppercase;
    @extend %pd-bot-15;

    @media (max-width: 768px) {
      .txt--uppercase {
        padding-bottom: 10px;
      }
    }
  }
</style>

<div class="col-md-6">
  <div class="content-img__content {float}">
    <p class="txt txt-primary txt--uppercase">{title}</p>
    <h2 class="heading-02">{subtitle}</h2>
    <p class="txt txt-secondary">
      {@html text}
    </p>
    <div class="row">

      {#if form === 'true'}
        <Form />
      {/if}
      {#if cardsTotal == 2}
        <div class="row">
          <div class="col-6">
            <MiniCard
              title={card1Title}
              text={card1Text}
              imgLink={card1ImgLink} />
          </div>
          <div class="col-6">
            <MiniCard
              title={card2Title}
              text={card2Text}
              imgLink={card2ImgLink} />
          </div>
        </div>
      {:else if cardsTotal == 4}
        <div class="row">
          <div class="col-6">
            <MiniCard
              title={card1Title}
              text={card1Text}
              imgLink={card1ImgLink} />
          </div>
          <div class="col-6">
            <MiniCard
              title={card2Title}
              text={card2Text}
              imgLink={card2ImgLink} />
          </div>
          <div class="col-6">
            <MiniCard
              title={card3Title}
              text={card3Text}
              imgLink={card3ImgLink} />
          </div>
          <div class="col-6">
            <MiniCard
              title={card4Title}
              text={card4Text}
              imgLink={card4ImgLink} />
          </div>
        </div>
      {/if}
      {#if button === 'white'}
        <ButtonWhite text={buttonText} link={buttonLink} />
      {/if}
    </div>

  </div>
</div>
