<script>
  export let img = "ead-img01.png";
  export let text = "Produção de conteúdo";

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .ead__item {
    @extend %pd-bot-39;
  }

  .txt-primary {
    color: $text-inverse;
  }
</style>

<div class="col-md-3">
  <div class="ead__item">
    <img class="img" src="{themeSrc}dist/img/default/{img}" alt="" />
    <div class="txt-primary">{text}</div>
  </div>
</div>
