<script>
  export let value = "+ 150 mil";
  export let impacted = "Alunos";
</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .experiencia-comprovada__bg {
    background: url("#{$themeSrc}/img/default/grade-de-circulos-p.png") top left
      no-repeat;
    @extend %pd-lt-39;
    width: 100%;
    height: auto;

    @media (max-width: 768px) {
      padding-left: 0;
    }
  }
  .experiencia-comprovada__bg-circle {
    height: 146px;
    width: 146px;
    background: $surface-color-01;
    border-radius: 50%;
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      height: 100px;
      width: 100px;
      margin: 0 auto;
    }
  }

  .heading-01 {
    line-height: 45px;
    text-align: center;
    color: $brand-02;
    margin: 0 auto;
  }

  .txt-secondary {
    @extend %pd-top-15;
    @extend %pd-bot-18;
    @extend %pd-lt-18;
    font-size: 18px;

    @media (max-width: 768px) {
      text-align: center;
      padding: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 18px;
    }
  }
</style>

<div class="experiencia-comprovada__bg">
  <div class="experiencia-comprovada__bg-circle">
    <h1 class="heading-01">{value}</h1>
  </div>
  <p class="txt txt-secondary">{impacted}</p>
</div>
