<script>
  let themeSrc = "wp-content/themes/Svelte-Front/public/";
  export let title = "";
  export let text = "";
  export let imgLink = "";
</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .content-img__item {
    display: flex;
    @extend %mr-bot-30;

    @media (max-width: 768px) {
      display: block;
    }

    .img {
      width: 62px;
      height: 62px;
    }

    .content-img__item-text {
      @extend %pd-lt-30;

      @media (max-width: 768px) {
        padding-left: 0px;
      }

      .content-img__item-title {
        color: $brand-02;

        @media (max-width: 768px) {
          padding-top: 12px;
          padding-bottom: 8px;
        }
      }

      .content-img__item-description {
        color: $text-02;
      }
    }
  }
</style>

<div class="content-img__item">
  <img class="img" src="{themeSrc}/dist/img/default/{imgLink}" alt="" />
  <div class="content-img__item-text">
    <h4 class="txt heading-04 content-img__item-title">{title}</h4>
    <p class="txt txt-secondary content-img__item-description">{text}</p>
  </div>
</div>
