<script>

</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .banner-01__btn {
    @include btn($surface-color-03, 1, $side: "left");
    position: relative;
    left: calc(80% - 30px);
  }
</style>

<button type="submit" class="input-for-submit banner-01__btn">Enviar</button>
