<script>

</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .menu__btn-div {
    @media (max-width: 991px) {
      display: none;
    }
  }

  .menu__btn-01 {
    @include btn($surface-color-03, 1);
  }
</style>

<div class="menu__btn-div">
  <button class="menu__btn-01">Ligamos para você</button>
</div>
