<script>
  export let text = "Saiba mais";
  export let link = "educacao-basica";
  export let divClassName = "content-img__content-btn";
</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .content-img__content-btn {
    display: block;
    margin: 0 auto;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  .menu__btn-03 {
    @include btn($surface-color-01, 1);
    border: 1px solid black;
    align-items: center;
  }

  .link {
    text-decoration: none;
    color: black;
  }
</style>

<div class="content-img__content-btn">
  <button class="btn menu__btn-03">
    <a class="link" href={link}>{text}</a>
  </button>

</div>
