<script>
  import Slide from "./Slide.svelte";
  import Swiper from "swiper";

  var mySwiper = new Swiper(".swiper-container", {
    slidesPerView: "auto",
    spaceBetween: 10,
    navigation: {
      nextEl: ".btn-next",
      prevEl: ".btn-prev"
    }
  });

  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";

  .btn-circle {
    background: $surface-color-01;
    border: 1px solid $text-01;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    @extend %pd-0;
    transition: 0.2s;
    margin-left: 10px;

    i {
      font-size: 20px;
      font-weight: $bold;
    }

    &:hover {
      transition: 0.2s;
      border: 1px solid $brand-01;
      background: $brand-01;

      i {
        color: $text-inverse;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  #ferramentas-solucoes {
    @extend %pd-bot-81;

    .col-md-8:nth-child(2) {
      @extend %pd-rt-0;
    }

    .ferramentas-solucoes__text-box {
      position: relative;
      width: 100%;
      height: 100%;

      .ferramentas-solucoes__text {
        position: absolute;
        right: 0;
        width: 255px;

        @media (max-width: 768px) {
          position: relative;
          padding-bottom: 40px;
        }

        @media (max-width: 900px) {
          width: 100%;
        }
      }

      .ferramentas-solucoes__buttons {
        position: absolute;
        display: flex;
        right: 0;
        bottom: 0;

        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .ferramentas-solucoes__swiper {
      .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        width: 540px;
        height: 450px;
        border-radius: 5px;
        margin-right: 10px;

        @media (max-width: 768px) {
          width: 50%;
          min-width: 280px;
          height: 234px;
        }
      }
    }
  }

  .txt-secondary {
    margin: 0;
  }
</style>

<section id="ferramentas-solucoes">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="ferramentas-solucoes__text-box">
          <div class="ferramentas-solucoes__text">
            <h2 class="heading-02">
              A ferramentas e soluções para o seu negócio educacional
            </h2>
            <p class="txt txt-secondary">
              Conheça algumas das nossas melhores ferramentas.
            </p>
          </div>
          <div class="ferramentas-solucoes__buttons">
            <button class="btn-circle btn-prev">
              <i class="icon fas fa-long-arrow-alt-left" />
            </button>
            <button class="btn-circle btn-next">
              <i class="icon fas fa-long-arrow-alt-right" />
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="ferramentas-solucoes__swiper">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <Slide
                  heading="Gerencie eventos acadêmicos e crie certificados para
                  os participantes"
                  content="Um sistema de gerenciamento de mídia indoor fácil e
                  intuitivo que te auxilia na criação e exibição de comunicados
                  na sua empresa. Crie notificações e distribua simultaneamente
                  em toda sua empresa."
                  img="ferramenta-bg-01.png" />
              </div>
              <div class="swiper-slide">
                <Slide
                  heading="Seus alunos podem se matricúlar totalmente on-line"
                  content="O aluno ao ingressar na sua instituição de ensino,
                  tem a comodidade de realizar sua matrícula on-line pelo
                  sistema Phidelis."
                  img="ferramenta-bg-02.png" />
              </div>
              <div class="swiper-slide">
                <Slide
                  heading="Gerencie eventos acadêmicos e crie certificados para
                  os participantes"
                  content="Um sistema de gerenciamento de mídia indoor fácil e
                  intuitivo que te auxilia na criação e exibição de comunicados
                  na sua empresa. Crie notificações e distribua simultaneamente
                  em toda sua empresa."
                  img="ferramenta-bg-02.png" />

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
