<script>
  let themeSrc = "wp-content/themes/Svelte-Front/public/";

  export let heading =
    "Gerencie eventos acadêmicos e crie certificados para os participantes";

  export let content =
    "Um sistema de gerenciamento de mídia indoor fácil e intuitivo que te auxilia na criação e exibição de comunicados na sua empresa. Crie notificações e distribua simultaneamente em toda sua empresa.";

  export let img = "ferramenta-bg-01.png";
</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .ferramentas-solucoes__swiper-content {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 5px;

    @media (max-width: 768px) {
      width: 100%;
    }

    img {
      display: block;
      position: absolute;
      opacity: 0.5;
      height: 100%;
      object-fit: cover;
      object-position: center center;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .ferramentas-solucoes__swiper-content-text {
    position: absolute;
    @extend %pd-lt-21;
    @extend %pd-rt-21;
    top: 200px;

    @media (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
      position: absolute;
      top: 140px;
      width: 100%;

      h3 {
        font-size: 16px;
        margin: 0;
      }

      .txt-secondary {
        display: none;
      }
    }
  }

  .ferramentas-solucoes__swiper-content-more {
    position: absolute;
    bottom: 26px;
    right: 20px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .shadow-img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0px -200px 74px -73px rgba(0, 0, 0, 0.75);
  }
  .heading-03 {
    color: $text-inverse;
  }

  .txt-secondary {
    color: $text-inverse;
  }

  .link-02 {
    @extend %link;
    font-size: 16px;
  }
</style>

<a class="link-02 ferramentas-solucoes__swiper-content" href="/index">
  <img class="img img-fluid" src="{themeSrc}dist/img/default/{img}" alt="" />
  <div class="shadow-img" />
  <div class="ferramentas-solucoes__swiper-content-text">
    <h3 class="heading-03">{heading}</h3>
    <p class="txt txt-secondary">{content}</p>
  </div>
  <div href="#" class="ferramentas-solucoes__swiper-content-more">
    Saiba mais
    <i class="icon fas fa-chevron-right" />

  </div>
</a>
