<script>
  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../style/core/variables.scss";
  @import "../../style/core/recipes.scss";

  .menu__hamburguer-div {
    display: none;

    @media (max-width: 991px) {
      height: 60px;
      width: 60px;
      position: absolute;
      right: 0;
      display: block;
    }
  }
</style>

<div class="menu__hamburguer-div">
  <button class="menu__btn">
    <img
      class="img"
      src="{themeSrc}/dist/img/default/hamburger.png"
      alt="Menu hamburguer" />
  </button>
</div>
