<script>
  export let className = "link";
  export let href = "index.php";

  let cleanHref = href.replace("-", " ");
  let name = cleanHref[0].toUpperCase() + cleanHref.slice(1);

  let localName = href[1].toUpperCase() + href.slice(2);
</script>

<style type="text/scss">
  @import "../../../style/core/variables.scss";
  @import "../../../style/core/recipes.scss";

  .menu__item {
    display: inline-block;
    list-style: none;

    @media (max-width: 991px) {
      display: block;
      text-align: right;
      padding-right: 32px;
      padding-bottom: 8px;
      margin-bottom: 8px;
      margin-top: 32px;
    }

    .link {
      text-decoration: none;
      color: $text-02;
      transition: 0.1s;
      width: 100%;
      height: 100%;
      padding: 15px 27px;
      font-weight: 400;

      @media (max-width: 1200px) {
        padding: 15px 17px;
      }

      @media (max-width: 991px) {
        display: unset;
        padding: 0;
        padding-bottom: 8px;
        font-size: 20px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
      }

      &.active {
        text-decoration: none;
        color: $text-01;
        border-bottom: 3px solid $surface-color-03;
      }

      &:hover {
        text-decoration: none;
        color: $text-01;
        border-bottom: 3px solid $surface-color-03;
        transition: 0.1s;
      }
    }
  }
</style>

{#if href[0] != '#'}
  <li class="menu__item">
    <a class={className} {href}>{name}</a>
  </li>
{:else}
  <li class="menu__item">
    <a class={className} {href}>{localName}</a>
  </li>
{/if}
