<script>
  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../style/core/variables.scss";
  @import "../../style/core/recipes.scss";

  .menu__info {
    @extend %menu-base;
    align-items: center;

    @media (max-width: 991px) {
      display: none;
    }
  }

  .icon {
    position: relative;
    margin-left: 10px;
  }
</style>

<div class="menu__info">
  <p class="txt txt-secondary txt-secondary--bold">
    <span class="icon">
      <i class="icon fas fa-mobile-alt" />
    </span>
    +55 (27) 33297036
    <span class="icon">
      <i class="icon fas fa-envelope" />
    </span>
    contato@phidelis.com.br
  </p>
</div>
