<script>
  import Button from "../buttons/ButtonPrimary-01.svelte";
  import Link from "./MenuLink.svelte";
  let themeSrc = "wp-content/themes/Svelte-Front/public/";
</script>

<style type="text/scss">
  @import "../../style/core/variables.scss";
  @import "../../style/core/recipes.scss";

  .menu__item {
    display: inline-block;
    list-style: none;

    @media (max-width: 991px) {
      display: block;
      text-align: right;
      padding-right: 32px;
      padding-bottom: 8px;
      margin-bottom: 8px;
      margin-top: 32px;
    }

    .link {
      text-decoration: none;
      color: $text-02;
      transition: 0.1s;
      display: block;
      width: 100%;
      height: 100%;
      padding: 15px 27px;
      font-weight: 400;

      @media (max-width: 1200px) {
        padding: 15px 17px;
      }

      @media (max-width: 991px) {
        display: unset;
        padding: 0;
        padding-bottom: 8px;
        font-size: 20px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
      }

      .icon {
        position: relative;
        bottom: 2px;
      }

      &.active {
        text-decoration: none;
        color: $text-01;
        border-bottom: 3px solid $surface-color-03;
      }

      &:hover {
        text-decoration: none;
        color: $text-01;
        border-bottom: 3px solid $surface-color-03;
        transition: 0.1s;
      }
    }
  }

  .menu {
    @extend %menu-base;
    @extend %pd-top-12;
    width: 100%;
    align-items: center;

    @media (max-width: 991px) {
      background: $text-inverse;
      padding-top: 0px;
      height: 103vh;
      width: 75%;
      top: -3px;
      z-index: 100;
      position: fixed;
      display: block;
      right: calc(25% - 100%);
      overflow-y: scroll;

      transition: right 0.5s ease-in-out;

      &.box-shadow {
        box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.125);
      }
    }
  }

  .menu__lista {
    @extend %pd-0;
    @extend %mr-0;
  }
</style>

<div class="menu txt-secondary">
  <div class="menu__itens">
    <ul class="menu__lista">
      <Link className="link active" href="index" />
      <Link className="link" href="quem-somos" />
      <Link className="link" href="produtos" />
      <Link className="link" href="blog" />
      <Link className="link" href="integracoes" />
      <Link className="link" href="carreiras" />
      <Link className="link" href="#contato" />
    </ul>
  </div>
  <Button />
</div>
