<script>
  import MenuLinks from "../menus/MenuLinks.svelte";
  import Logo from "../imgs/Logo.svelte";
  import Info from "../menus/MenuInfo.svelte";
  import Burger from "../menus/MenuBurger.svelte";
</script>

<style type="text/scss">
  @import "../style/core/variables.scss";
  @import "../style/core/recipes.scss";

  .menu {
    @extend %menu-base;
    @extend %pd-top-12;
    width: 100%;

    @media (max-width: 991px) {
      background: $text-inverse;
      padding-top: 0px;
      height: 103vh;
      width: 75%;
      top: -3px;
      z-index: 100;
      position: fixed;
      display: block;
      right: calc(25% - 100%);
      overflow-y: scroll;

      transition: right 0.5s ease-in-out;

      &.box-shadow {
        box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.125);
      }
    }
  }
</style>

<div class="menu">

  <Logo />

  <Info />

  <Burger />

</div>
<MenuLinks />
